<div class="list">
  <app-custom-label
    [text]="titleText"
    [bold]="titleBold"
    [pixelSize]="titleSize"
  ></app-custom-label>

  <app-list-item *ngFor="let item of list" [item]="item"></app-list-item>

  <p *ngIf="!list.length">
    <app-custom-label
      [text]="footerText"
      [bold]="footerBold"
      [pixelSize]="footerSize"
    ></app-custom-label>
  </p>
</div>
