button {
  border-radius: 8px;
  border: none;
  &.invert {
    color: rgb(241, 241, 241);
  }
  &.small {
    padding: 5px;
  }
  &.medium {
    padding: 10px;
  }
  &.big {
    padding: 15px 20px;
  }
}
