<p>
  <app-test-button
    background="green"
    [invert]="true"
    size="big"
    (clickEvent)="receiveData($event)"
  ></app-test-button>
</p>

<p *ngIf="!!obj">{{ obj | json }}</p>

<p>
  <app-list></app-list>
</p>
